.list{
    -webkit-box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 20px;
    flex: 1;
}

.title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #41b3a3;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}
.title:hover{
    text-decoration: underline;
}
.basic{
    border-radius: 5px;
    color: white;
}
.Pending{
    background-color: rgba(215, 124, 26, 0.8);
}
.Submitted{
    background-color: rgba(39, 132, 39, 0.8);
}

.design{
    padding: 3px;
}