.faculty{
    display: flex;
    width: 100%;
}

.facultyContainer{
    flex: 6;
}

.facultyItem{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
}

.facultyHeading{
    padding: 20px;
    margin: 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #41b3a3;
}

.intro{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

